/* Start with main size-and-presents wrapper */
.size-wrapper {
  position: relative;
  grid-column: 2;
  font-size: 14px;
}
.size-wrapper > * {
  margin-right: 5px;
}
.width-input {
  height: 23px;
  /* Width increased to allow for Free Exchange 245.08 */
  width: 70px;
  min-width: 36px;
  font-weight: 600;
}
.silver-label.x-label {
  font-size: 18px;
  color: var(--tertiary-text);
}
.height-input {
  width: 55px;
  height: 23px;
  min-width: 36px;
  font-weight: 600;
}
.size-error {
  color: var(--grey-four);
  background-color: var(--alert-red);
  border-color: var(--alert-red);
}

.recommended-span {
  width: 40px;
  height: 24px;
  line-height: 19px;
  border: none;
  font-size: 13px;
  background-color: var(--grey-two);
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 0 5px 0 0;
  text-align: center;
}
.silver-label.recommended-label {
  color: var(--button);
  font-size: 13px;
  font-weight: 600;
}
.recommended-span:hover {
  background-color: var(--grey-one);
}
.recommended-span:active {
  background-color: var(--grey-four);
  color: var(--grey-one);
}
.recommended-span:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 1100px) {
  .silver-label.recommended-label {
    position: absolute;
    right: 0;
    top: -20px;
  }
}